[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = ester queiroz de carvalho
	email = esterq292@gmail.com
	nome = ester querioz de carvalho
